<h1> A Meetup </h1>

<section>
<h1><a href ='/meetups/' + document._id></a></h1>

<p>
  <b>Meetup Name:</b>
    {{meetup.name}}
</p>

<p>
  <b>Meetup Description:</b>
    {{meetup.description}}
</p>
</section>
  <!-- <h1><a href='/meetups/' + document._id></a></h1>

<p><b>Meetup Name: </b>{{meetup.name}}</p>
<p><b>Meetup Description: </b>{{meetup.description}}</p>
<p><b>Meetup Location: </b>{{location.name}}</p>
<p><b>Location Address: </b>{{location.address}}</p>

<b>Meetup Members: </b>
{{#each members}}
  {{name}},
{{/each}}

<p>
  <b> Followers: </b>
  {{#each follower}}
    {{name}},
  {{/each}}
</p>

<p>
  <b> Meetups: </b>
  {{#each followerMeetup}}
    {{name}},
  {{/each}}
</p> -->
