<h1> A Meetup </h1>

<section>
<a href='/meetups/' + document._id></a>

<p>
  <b>Meetup Name:</b>
  {{meetup.name}}
</p>

<p>
  <b>Meetup Description:</b>
  {{meetup.description}}
</p>

<p>
  <b>Location:</b>
  {{location.name}}
</p>

<p>
  <b>Location Address:</b>
  {{location.address  }}
</p>

<p>
  <b>Members:</b>
  {{#each members}}
    {{name}}
  {{/each}}
</p>

<p>
  <b>Followers:</b>
  {{#each followers}}
    {{name}}
  {{/each}}
</p>

<p>
  <b>Meetups Followed:</b>
  {{#each followedMeetups}}
    {{name}}
  {{/each}}
</p>

</section>
